<div class="container" ng-controller="ActesController as controller">
    <header>
        <h1 class="text-center">Actes Barcelona</h1>
        <h3>&nbsp;</h3>
    </header>

    <div class="text-center" ng-show="controller.noActes()">
        <button class="btn btn-lg btn-primary" ng-click="controller.listActes()">
            <span ng-show="!controller.isLoading()">Veure Actes</span>
            <span ng-show="controller.isLoading()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
        </button>
    </div>
    <div ng-repeat="acte in controller.actes">
        <acte-tab></acte-tab>
    </div>
</div><!-- /.container -->