<!doctype html>
<html lang="en" ng-app="actesJS">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS client for the ActesApp">
    <title>Actes Barcelona</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/satellizer/0.8.8/satellizer.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <script src="acte-tab/acte-tab.js"></script>
    <script src="partials/signup.js"></script>
    <!-- angular-google-maps -->
    <!-- Google Maps Javascript API -->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Actes</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" ng-controller="LoginCtrl">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <!-- Template -->
                <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
                    <li><button ng-click="authenticate('google')">Sign in with Google</button></li>
                </ul>
                <ul class="nav navbar-nav pull-right" ng-if="isAuthenticated()">
                    <li><button ng-click="logout()">Logout</button></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" ng-controller="ActesController as controller">
        <header>
            <h1 class="text-center">Actes Barcelona</h1>
            <h3>&nbsp;</h3>
        </header>

        <div class="text-center" ng-show="controller.noActes()">
            <button class="btn btn-lg btn-primary" ng-click="controller.listActes()">
                <span ng-show="!controller.isLoading()">Veure Actes</span>
                <span ng-show="controller.isLoading()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
            </button>
        </div>
        <div ng-repeat="acte in controller.actes">
            <acte-tab></acte-tab>
        </div>
    </div><!-- /.container -->

</body>
</html>

